[Service]
Type = simple
ExecStartPre = /bin/bash -c 'date +%%s > $RUNTIME_DIRECTORY/nfs-ready'
ExecStart = /bin/python -m http.server -d $RUNTIME_DIRECTORY 8081

PrivateUsers = yes
RuntimeDirectory = herald-nfs

[Unit]
After = nfs-server.service
Requires = nfs-server.service

[Install]
WantedBy = multi-user.target

